
.bg-footer
	background:$blue
	height:50px	

	&:before
		content ''
		display block
		position relative
		background-color rgba($lighterblue, .4)
		height 6px 
		top -6px 
		width 100% 
		left 0
	
	@media $mobile-max
		display:inline-block
		text-align:center
		height:140px
		margin-top:20px
		
	@media $tablet-max
		display:inline-block
		text-align:center
		height:140px
		width:100%
		margin-top:20px

	.txt-footer
		font-family:$gt
		font-weight:300
		font-size:14px
		color:$white
		text-align:center
		position:relative
		top:15px
		
		@media $mobile-max
			width:75%
			display:inline-block
			font-size:16px
			
		@media $tablet-max
			width:75%
			display:inline-block
			font-size:16px

		.text-desk
			display:block
			@media $mobile-max
				display:none
				
			@media $tablet-max
				display:none
				
		.text-mobile
			display:none
			@media $mobile-max
				display:block
				
			@media $tablet-max
				display:block

.slick-dots
	display:inline-flex

	ul
		text-align:center
	li
		border:1px solid
		background:none
		border-radius:20px
		width:10px
		height:10px 
		margin:0px 10px
		
	button
		display:none
		
	.slick-active
		background:black
		
		