.form-box
	display:inline-grid
	width:310px
		
	input,select 
		margin: 5px 0px
		border:1px solid $lightblue
		color:$black
		border-radius:5px
		height:30px
		font-weight:300
		
	input
		@media $mobile-max
			width:100%	
			
		@media $tablet-max
			width:100%	
	
	select
		background:url('../dist/img/arrow-select.png') 95% 
		background-repeat:no-repeat
		-webkit-appearance:none
		appearance:none
		
		@media $mobile-max
			width:100%
	
		@media $tablet-max
			width:100%

	@media $mobile-max
		width:100%
		position:relative
		bottom:0px
		display:none

	@media $tablet-max
		width:100%
		position:relative
		bottom:0px
		display:none

.form-select
	display:inline
				
.green-button
	text-transform:uppercase
	background:$green
	color:$white
	height:40px
	font-family:$gt
	font-weight:400
	font-size:20px
	border-radius:5px
	border:none
	letter-spacing:1px	
	margin-top:13px
	
	@media $mobile-max
		width:100%
		font-size:13px
		
	@media $tablet-max
		width:100%
		font-size:13px
	
.btn-parcela
	text-transform:uppercase
	background:$green
	color:$white
	height:40px
	width:230px
	font-family:$gt
	font-weight:400
	font-size:14px
	border-radius:5px
	border:none
	letter-spacing:1px	
	margin-top:13px
	padding:5px 3px
	
	@media $mobile-max
		width:100%

	@media $tablet-max
		width:100%
		

.select-parcela
	margin-top:20px
	
	@media $mobile-max
		position:relative
		left:1%
		
	

	select 
		margin: 5px 2px 5px 0
		border:1px solid $lightblue
		border-radius:5px
		height:42px
		width:56%
		font-weight:300
		padding:0px 10px
		background:url('../dist/img/arrow-select.png') 95% 
		background-color:$white
		background-repeat:no-repeat
		-webkit-appearance:none
		appearance:none

		@media $mobile-max
			width:100%
			margin: 5px 0px 
			
		@media $tablet-max
			width:100%
			margin: 5px 0px 
			
.img-pig
	position:absolute
	top:290px
	left:75%
	z-index:-1
	
.opt
	font-weight:300