.tg 
	border-collapse collapse
	border-spacing 0
	font-family:$gt
	
	@media $mobile-max
		display:none
		
	@media $tablet-max
		display:none
	td 
		font-size 14px
		padding 10px 5px
		border-style solid
		border-width 1px
		overflow hidden
		word-break normal
		border-color white
	th 
		font-size 14px
		font-weight normal
		padding 10px 5px
		border-style solid
		border-width 1px
		overflow hidden
		word-break normal
		font-weight:500
	.th-blue 
		background-color #4666a4
		color #ffffff
		border-color inherit
		text-align center
		vertical-align middle
	.tg-c3ow 
		border-color inherit
		text-align center
		vertical-align middle
		
	.th-darkblue 
		background-color #23448e
		color #ffffff
		border-color inherit
		text-align center
		vertical-align middle

	.val-red
		background-color #eff9fe
		border-color white
		text-align center
		vertical-align middle
		color:red
		font-weight:700
		
	.val-gray
		background-color #eff9fe
		border-color white
		text-align center
		vertical-align middle
		color:$midgray
		font-weight:700


	.tab-green 
		background-color $green
		border-color inherit
		text-align center
		vertical-align middle
		color #fff
		font-size 20px
	.tg-hh98 
		background-color #eff9fe
		border-color white
		text-align center
		vertical-align middle
.table-top 
	border-bottom:15px solid rgba(0, 0, 0, 0)
	th 
		&:nth-child(1) 
			border none
		&:nth-child(2) 
			border-radius 10px 0px 0px 10px
		&:nth-child(5) 
			border-radius 0px 10px 10px 0px
.table-body 
	border-top:2px solid rgba(0, 0, 0, 0)
.first-column 
	border 1px solid #fff
	background $tb-blue
	color $gray


.infos-table
	display:none
	
	span
		font-size:16px
		
	@media $mobile-max
		display:block
		
	@media $tablet-max
		display:block	

.table-mobile
	border-collapse collapse
	border-spacing 0
	font-family:$gt
	display:none
	margin-bottom:14px
	
	@media $mobile-max
		display:inline-block
		text-align:center


	.title-imovel
		color:$white
		border-radius:5px 5px 0 0
		background:$midblue
		border:none
		background:$blue-tb
		
	.vImovel
		color:$white
		background:$blue
		border:none
		
	td 
		font-size 14px
		padding 10px 5px
		border-style solid
		border-width 1px
		overflow hidden
		word-break normal
		border-color white
	th 
		font-size 14px
		font-weight normal
		padding 10px 5px
		border-style solid
		border-width 1px
		overflow hidden
		word-break normal
		font-weight:500
	.th-blue 
		background-color #4666a4
		color #ffffff
		border-color inherit
		text-align center
		vertical-align middle
		border:none
		
	.tg-c3ow 
		border-color inherit
		text-align center
		vertical-align middle
		
	.th-darkblue 
		background-color #23448e
		color #ffffff
		border-color inherit
		text-align center
		vertical-align middle
		border:none

	.val-red
		background-color #eff9fe
		border-color white
		text-align center
		vertical-align middle
		color:red
		font-weight:700
		
	.val-gray
		background-color #eff9fe
		border-color white
		text-align center
		vertical-align middle
		color:$midgray
		font-weight:700


	.tab-green 
		background-color $green
		border-color inherit
		text-align center
		vertical-align middle
		color #fff
		font-size 20px
		border-radius:0px 0px 5px 5px
		border:none
		
	.tg-hh98 
		background-color #eff9fe
		border-color white
		text-align center
		vertical-align middle
.table-top 
	border-bottom:15px solid rgba(0, 0, 0, 0)
	th 
		&:nth-child(1) 
			border none
		&:nth-child(2) 
			border-radius 10px 0px 0px 10px
		&:nth-child(5) 
			border-radius 0px 10px 10px 0px
.table-body 
	border-top:2px solid rgba(0, 0, 0, 0)
.first-column 
	border 1px solid #fff
	background $tb-blue
	color $gray
