
section
	height:100vh
	
.content-ty
	position:relative
	background:url('../dist/img/background-vendas.jpg') no-repeat 0% 56%
	height:100%

	.ty-page
		position:absolute
		margin-top:15%
		width:50%
		left:25%
		
		@media $mobile-max
			top:0px
			margin-top:48%
			width:90%
			left:7%		


		.title-tks
			margin-bottom:20%
			font-size:30px
			font-weight:300
			
			@media $small-mobile-max
				margin-top:11%

			@media $mobile-max
				margin-top:10%
				font-size:17px
			
		.btn-back
			text-align:center
			font-family:$gt
			font-weight:700
			font-size:25px
			
			a
				color:$blue
				&:hover
					text-decoration:underline


section
	height:100vh
	
.content-ty
	position:relative
	background:url('../dist/img/background-vendas.jpg') no-repeat 0% 56%
	height:100%

	.ty-page
		position:absolute
		margin-top:15%
		width:50%
		left:25%
		
		@media $small-mobile-max
			left:6%		

		@media $mobile-max
			top:0px
			margin-top:48%
			width:90%
			left:8%		


		.title-tks
			margin-bottom:20%
			font-size:17px
			font-weight:300
			
			@media $small-mobile-max
				font-size:14px
				margin-top:15%
				margin-bottom:6%

			@media $mobile-max
				margin-bottom:12%
				margin-top:15%
			
		.btn-back
			text-align:center
			font-family:$gt
			font-weight:700
			font-size:25px
			position:relative
			bottom:20px
			
			a
				color:$blue
				&:hover
					text-decoration:underline
			
			@media $mobile-max
				font-size:16px
				font-weight:300
				bottom:40px

.pricing-block
	.item-desc-col 
		padding 10px 
		background-color #fafafa
		max-width 100%
		margin-left auto 
		margin-right auto 
		border 2px solid #e1e1e1
		border-radius 10px
		line-height 32px
		font-size:16px
			
		@media $small-mobile-max
			line-height:21px
			

		strong
			@media $small-mobile-max
				font-size:14px
				