
/* container */
.container  
    width: 100%
    margin-left: auto
    margin-right: auto
    padding: 0 20px

@media(min-width: 320px)
    .container
        padding:0 0px

@media (min-width: 1200px)
    .container 
        max-width: 1200px
        padding: 0

    /* linha */
    .row 
        margin-left: -5px
        margin-right: -5px 

    .row:before,
    .row:after
        content: ""
        display: table

    .row:after 
        clear: both


    /* colunas */
    .col 
        display: inline-block
        vertical-align: top
        min-height: 1px
        padding-left: 5px
        padding-right: 5px
        width: 100%
        margin-right: -4px
        *zoom: 1
        *display: inline

/* */
.col-sm
    float:left
    width:20%
    padding:10px

/* uma coluna */
.col-1 
      float: left
      width: 25%
      padding: 10px

@media $tablet-max
    .col-2
        width: 100% !important
    .col-1
        width:50%
        
@media(max-width: 600px) 
     .col-1 
         width: 100%
     .col-sm
         width:100%    

/* duas colunas */
@media (min-width: 480px) 
    .col-2 
        width: 50%



/* tres colunas */
@media (min-width: 728px) 
    .col-3 
        width: 33.3333%