#content
	position:relative
	height:1100px
	
	@media $desktop-minmax
		height:950px
		
	@media $mobile-max
		height:1600px
		
	@media $tablet-max
		height:1600px
	
.background-content
	background:url('../dist/img/background-content.jpg') no-repeat 50% center
	position:absolute
	height:100%
	width:100%
	background-size:contain
	top:0px
	left:0px
	z-index:-1
	
	@media $xxl-desktop-min 
		left:91px

	@media $desktop-minmax
		background-position-x:67%
		background-position-y:1%
		background-size:contain			
		height:100%
		width:100%
		z-index:-3

	@media $xl-desktop-max 
		background-position-x:61%
		background-position-y:0%
		background-size:contain

	@media $mobile-max
		background:url('../dist/img/background-content-mobile.jpg') no-repeat 50% 95%
		position:absolute
		width:103%
		top:500px
	
	@media $tablet-max
		background:url('../dist/img/background-content-mobile.jpg') no-repeat 50% 63%
		position:absolute
		width:100%
		top:450px

	

.boxes
	display:table-cell
	position:relative
	top:200px
	
	@media $mobile-max
		display:inline-block
		width:100%
		
	@media $tablet-max
		display:inline-block
		width:100%
	
.main-left
	float:left
	font-family:$gt
	color:$gray
	width:515px
	position:relative
	bottom:330px
	left:0%
	
	@media $desktop-minmax
		bottom:350px
		left:1%
		
	h1
		font-weight:300
		font-size:36px
		
		@media $desktop-minmax
			bottom:350px

		@media $mobile-max
			font-size:20px
		
		@media $tablet-max
			font-size:20px
			
		
		p
			font-size:60px
			margin-top:5px
			
			@media $mobile-max
				font-size:40px
				text-align:center
				
			@media $tablet-max
				font-size:40px
				text-align:center
		
		strong
			font-weight:700
	
	@media $mobile-max
		left:0%
		bottom:120px
		text-align:center
		width:100%
		
	@media $tablet-max
		left:0%
		bottom:120px
		text-align:center
		width:100%
	
	.text-firstleft
		font-weight:300
		font-size:16px
		position:relative
		width:95%
		line-height:20px
		margin-top:30px
		text-align:justify
		
		@media $mobile-max
			width:90%
			margin-left:5%
			text-align:center
			
		@media $tablet-max
			width:90%
			margin-left:5%

.dark-blue
	font-weight:700
	color: $darkblue
	
	

.box-proposta
	position:relative
	height:520px
	width:360px
	background:$white
	bottom:99px
	left:50%
	-webkit-border-radius: 10px
	-moz-border-radius: 10px
	border-radius: 10px
	-webkit-box-shadow: 0 0 0px 20px hsla(0,0%,100%,0.4)
	-moz-box-shadow: 0 0 0px 20px hsla(0,0%,100%,0.4)
	box-shadow: 0 0 0px 20px hsla(0,0%,100%,0.4)
	
	@media $xxl-desktop-min 
		left:95%
		bottom:143px

	@media $desktop-minmax
		bottom:160px

	@media $mobile-max
		width:90%
		height:280px
		bottom:0px
		top:0px
		left:1%
		-webkit-box-shadow: 9px 11px 16px 0px rgba(0,0,0,0.75)
		-moz-box-shadow: 9px 11px 16px 0px rgba(0,0,0,0.75)
		box-shadow: 9px 11px 16px 0px rgba(0,0,0,0.75)
		margin-bottom:30px
		
	@media $tablet-max
		width:72%
		height:280px
		bottom:0px
		top:280px
		left:0%
		display:inline-block
		-webkit-box-shadow: 9px 11px 16px 0px rgba(0,0,0,0.75)
		-moz-box-shadow: 9px 11px 16px 0px rgba(0,0,0,0.75)
		box-shadow: 9px 11px 16px 0px rgba(0,0,0,0.75)
		margin-bottom:30px

.main-right
	float:right
	font-family:$gt
	color:$gray

	.title-box
		font-weight:400
		text-transform:uppercase
		font-size:22px
		
		@media $mobile-max
			font-size:20px
			
		@media $tablet-max
			font-size:20px
	
	@media $mobile-max
		display:inline-block
		text-align:center
	
	@media $tablet-max
		display:inline-block
		text-align:center
		float:none
		width:100%

	.blue-titlebox
		font-weight:700
		text-transform:uppercase
		font-size:42px
		color:$blue
		
	.desc-box
		font-weight:300
		font-size:14px
		margin-top:10px
		margin-bottom:10px
		line-height:20px

	.items-boxes
		position:relative
		left:30px
		width:89%
		top:40px
		
		@media $mobile-max
			display:inline-block
			text-align:center
			left:0px
			
		@media $tablet-max
			display:inline-block
			text-align:center
			left:0px

.items-porto
	@media $mobile-max
		position:relative
		top:700px
		height:100px
		
	@media $tablet-max
		position:relative
		top:700px
		height:100px

.text-porto
	font-family:$gt
	font-weight:300
	font-size:18px
	position:relative
	width:64%
	top:280px
	word-spacing:5px
	line-height:29px
	
	@media $desktop-minmax
		top:150px
		
	@media $mobile-max
		top:250px
		width:69%
		left:17%
		word-spacing:0px
		line-height:25px
		text-align:center

	@media $tablet-max
		position:relative
		width:61%
		top:480px
		text-align:center
		display:inline-block
		left:18%
		margin-bottom:25px
		
.redutor
	font-weight:700
	background:$lightblue
	padding:2px 2px
	border-radius:5px
	color:$white
	text-transform:uppercase
	font-size:21px

	@media $desktop-minmax
		top:80px

	@media $mobile-max
		width:100%
		right:0%
		text-align:center
		top:790px
		font-size:23px
		line-height:29px
		
	@media $tablet-max
		width:100%
		right:0%
		text-align:center
		top:850px
		

.mini-items
	position:relative
	top:40px
	left:40%
	width:65%
	
	@media $desktop-minmax
		top:-80px

	@media $mobile-max
		position:relative
		top:250px
		left:5%
		width:90%
		text-align:center
		
	@media $tablet-max
		position:relative
		top:440px
		left:5%
		width:90%
		text-align:center
.align
	position:relative
	top:14px

.box-mini-item
	display:inline-block
	margin-right:8px
	height:230px
	width:235px
		
	img
		position:relative
		margin-bottom:23px
		top:29px
		left:15%
				
		@media $mobile-max
			text-align:center
			margin:auto
			left:3%
		
		@media $tablet-max
			text-align:center
			margin:auto
			left:1%
		
	@media $mobile-max
		height:300px
		margin-right:0px
	
	@media $tablet-max
		height:300px
		margin-right:0px
		

.textbox-left
	float:left
	font-family:$gt
	color:$gray
	width:92%
	top:50px
	position:relative
	left:10px
	z-index:4

	h2, h4
		font-weight:300
		font-size:36px
		
		@media $mobile-max
			font-size:20px
	
		@media $tablet-max
			font-size:20px
		p
			font-size:60px
			margin-top:5px
			
			@media $mobile-max
				font-size:40px
				
			@media $tablet-max
				font-size:40px
		
		strong
			font-weight:700	

	@media $mobile-max
		width:95%
		left:0px
		top:0px
		text-align:center
		margin-left:3%

	@media $tablet-max
		width:95%
		left:0px
		top:0px
		text-align:center
		margin-left:3%
		margin-top:20px
		margin-bottom:80px

	.title-text-left
		font-weight:700
		font-size:24px
		color:$blue
		margin-top:20px
		text-transform:uppercase

	.text-left
		font-weight:300
		font-size:16px
		position:relative
		width:100%
		line-height:20px
		margin-top:30px
		margin-bottom:20px
		text-align:justify
		
		@media $mobile-max
			font-size:14px
			text-align:center
			
		@media $tablet-max
			font-size:14px

#imoveis
	position:relative
	bottom:50px
	height:650px
	
	@media $mobile-max
		height:800px
		position:relative
		bottom:200px
			
	@media $tablet-max
		height:1020px
		position:relative
		bottom:100px

.background-imoveis
	background:url('../dist/img/background-imoveis.jpg') no-repeat 85% 0%
	position:absolute
	height:900px
	width:100%
	top:12px
	z-index:-3
	background-size:contain
	
	@media $mobile-max
		background:url('../dist/img/background-imoveis-mobile.jpg') no-repeat 50% 8%
		top:400px
		
	@media $tablet-max
		background:url('../dist/img/background-imoveis-mobile.jpg') no-repeat 50% 
		top:200px

.blue-imovel
	padding:5px 1%
	
	@media $mobile-max
		display:none

.items-imoveis
	position:relative
	display:inline-block
	top:100px
	width:100%
	left:0%
	
	@media $mobile-max
		width:90%
		top:140px
		left:5%
		display:inline-block
		text-align:center
	
	@media $tablet-max
		width:100%
		top:300px
		left:0%
		display:inline-block
		text-align:center
	
.item-desc-col
	font-family:$gt
	font-weight:300
	font-size:20px
	color:$gray
	text-align:center
	word-break:break-word
	
	@media $mobile-max
		font-size:16px
		position:relative
		bottom:10px
		right:3%
		
	@media $tablet-max
		font-size:16px
		position:relative
		bottom:10px
		
	strong
		font-size:17px
		
.txtslide-proposta
	@media $mobile-max
		position:relative
		top:5px
		
	@media $tablet-max
		position:relative
		top:5px

#financas
	position:relative
	top:100px
	height:550px
	z-index:3
	
	@media $mobile-max
		height:700px
		
	@media $tablet-max
		height:750px

	.background-fin
		background:url('../dist/img/background-fin.jpg') no-repeat 67% 0%
		position:absolute
		height:550px
		width:100%
		z-index:-3
		
		@media $mobile-max
			height:700px
			background-position-y:95%	
			
		@media $tablet-max
			height:700px
			background-position-y:20%	
		
			
	.title-fin
		position:relative
		top:90px
		text-align:center	
		
		@media $mobile-max
			top:130px
			
		h3
			font-family:$gt
			font-weight:300
			font-size:36px
			color:$gray
			margin-bottom:5px
			position:relative
			left:2%
		
			@media $mobile-max
				font-size:20px	
			
			@media $tablet-max
				font-size:20px	

		strong
			color:$blue
			text-transform:uppercase	
			font-size:60px
			margin-top:5px
			
			@media $mobile-max
				font-size:33px
				
			@media $tablet-max
				font-size:33px
			
		p
			font-weight:300
			color:$gray
			
			@media $mobile-max
				font-size:32px
		
			@media $tablet-max
				font-size:32px

		.table
			position:relative
			left:5%
			top:48px
			
			@media $mobile-max
				left:12%
				top:20px
				width:80%
				
			@media $tablet-max
				left:35%
				top:20px
				width:31%
				
	@media $mobile-max
		top:50px
		
	@media $tablet-max
		top:50px

#automoveis
	position:relative
	top:120px
	height:800px
	
	.background-auto
		position:absolute
		background:url('../dist/img/background-auto.png') no-repeat 100% 0%
		height:800px			
		width:100%
		bottom:58px
		z-index:3

		@media $mobile-max
			background:url('../dist/img/background-auto-mobile.png') no-repeat 50% 95%
			top:425px
			bottom:10px
			height:400px
			background-size:cover
			width:100%
			
		@media $tablet-max
			background:url('../dist/img/background-auto-mobile.png') no-repeat 50% 0%
			top:180px
			bottom:10px
			height:100%
			background-size:cover
			width:100%
	
	.items-auto
		position:relative
		display:inline-block
		top:100px
		width:100%
		left:0%
		z-index:4

		@media $mobile-max
			width:90%
			top:32px
			left:5%
			display:inline-block
			text-align:center
			
		@media $tablet-max
			width:90%
			top:350px
			left:5%
			display:inline-block
			text-align:center
			

	@media $mobile-max
		margin-top:85px	
		height:900px	
		
	@media $tablet-max
		top:0px	
		height:1000px
		
#pesados
	position:relative
	height:1100px
	top:138px
	
	@media $mobile-max
		height:1060px
		top:50px
		
	@media $tablet-max
		height:1400px
		top:0px

	.background-pesados
		position:absolute
		background:url('../dist/img/background-pesado.jpg') no-repeat 50% 0%
		height:1300px
		bottom:100px			
		width:100%
		z-index:-1
		right:8%
		background-size:contain
		
		@media $desktop-minmax
			left 0
		
		@media $xxl-desktop-min 
			bottom:190px
			
		@media $desktop-minmax
			bottom:-20px
			width:85%	

		@media $mobile-max
			background:url('../dist/img/background-pesado-mobile.png') no-repeat 45% 100%
			height:500px
			background-size:contain
			top:350px
			left:0%
			width:100%
			
		@media $tablet-max
			background:url('../dist/img/background-pesado-mobile.png') no-repeat 50% 
			height:100%
			background-size:cover
			bottom:480px

	.textbox-right
		font-family:$gt
		color:$gray
		width:650px
		top:150px
		position:relative
		left:95%
		
		@media $xxl-desktop-min 
			left:100%

		h4
			font-weight:300
			font-size:36px
			
			@media $mobile-max
				font-size:20px
				
			@media $tablet-max
				font-size:20px

			p
				font-size:60px
				margin-top:5px
				
				@media $mobile-max
					font-size:40px
				
				@media $tablet-max
					font-size:40px

			strong
				font-weight:700	
			
		.text-right
			font-weight:300
			font-size:16px
			position:relative
			width:91%
			line-height:20px
			margin-top:30px
			text-align:justify
			
			@media $mobile-max
				width:100%
				text-align:center
				font-size:14px
				
			@media $tablet-max
				width:100%
			
		@media $mobile-max
			width:95%
			left:0px
			top:0px
			text-align:center
			margin-left:3%
			
		@media $tablet-max
			width:95%
			left:0px
			top:750px
			text-align:center
			margin-left:3%

.items-pesados
	position:relative
	top:250px
	left:0%
	
	@media $mobile-max
		top:240px
		width:94%
		display:inline-block
		text-align:center
		left:2%
		
	@media $tablet-max
		top:800px
		width:94%
		display:inline-block
		text-align:center
		
#sonhos
	height:350px
	margin-top:0px
	
	@media $mobile-max
		margin-top:90px
		height:290px

	@media $tablet-max
		margin-top:90px
		height:460px
		
	.background-sonhos
		background:url('../dist/img/background-sonhos.jpg') no-repeat 0% 90%
		position:absolute
		width:100%
		height:345px
		border-top:14px solid $lightgray
		
		@media $desktop-min
			width:105%

		@media $mobile-max
			background:url('../dist/img/background-sonhos-mobile.jpg') no-repeat
			position:absolute
			width:100%
			height:600px
			border-top:14px solid $lightgray
		
		@media $tablet-max
			background:url('../dist/img/background-sonhos.jpg') no-repeat
			position:absolute
			width:100%
			height:600px
			border-top:14px solid $lightgray

	.dark-title
		font-family:$gt
		color:$gray
		font-weight:700
		font-size:60px
		text-transform:uppercase
		
		@media $mobile-max
			font-size:40px
			text-align:center
			
		@media $tablet-max
			font-size:40px
			text-align:center

	.dark-desc
		font-family:$gt
		color:$gray
		font-weight:300
		font-size:22px
		line-height:20px
		position:relative
		top:5px
		
		@media $mobile-max
			margin-bottom:10px
			
		@media $tablet-max
			margin-bottom:10px
	
	.txt-sonhos
		width:75%
		position:relative
		left:10px
		top:50px
		
		@media $mobile-max
			position:relative
			display:inline-block
			text-align:center
			top:30px
			left:0px
			width:100%
			
		@media $tablet-max
			position:relative
			display:inline-block
			text-align:center
			top:30px
			left:23%
			width:53%
			
	.btn-blue
		position:relative
		top:60px
		background:$blue
		text-transform:uppercase
		font-family:$gt
		color:$white
		font-weight:700
		font-size:12px
		-webkit-appearance:none
		appearance:none
		padding:10px 50px
		letter-spacing:1px
		right:6%
		-webkit-border-radius:5px
		border-radius:5px
		border:none
		
		@media $mobile-max
			padding:20px
			right:0%
			width:90%
			top:20px
			font-size:18px
			
		@media $tablet-max
			padding:20px
			right:0%
			width:90%
			top:80px
			font-size:18px
	
	.car
		background:url('../dist/img/carro.png') no-repeat
		position:absolute
		left:60%
		width:680px
		height:320px
		top:50px
		
		@media $mobile-max
			background:url('../dist/img/carro-mobile.png') no-repeat 50%
			position:relative
			width:88%
			height:150px
			top:56px
			display:inline-block
			margin-left:auto
			margin-right:auto
			left:0%
			
		@media $tablet-max
			background:url('../dist/img/carro.png') no-repeat 50%
			position:relative
			width:660px
			height:318px
			top:93px
			display:inline-block
			margin-left:auto
			margin-right:auto
			left:-90px
			
#porto-seguro
	height:600px
	
	@media $mobile-max
		height:760px
		
	@media $tablet-max
		margin-top:190px


.btn-video
	
	display:none
	background:$lightblue
	color:$white
	text-transform:uppercase
	font-size:17px
	font-weight:400
	font-family:$gt
	text-align:center
	padding:15px
	width:77%
	border:none
	appearance:none
	-webkit-appearance:none
	border-radius:5px
	position:relative
	left:10%
	bottom:70px
	

	@media $mobile-max
		display:block
	
		
.video
	display:grid
	position:relative
	top:193px
	left:25%
		
	iframe
		width:500px
		height:300px
		
		@media $mobile-max
			width:100%
			height:350px
						
		@media $tablet-max
			width:100%
			height:350px

	@media $mobile-max
		display:none
		position:relative
		top:0px
		left:1%
		width:98%
		height:300px
    
	@media $tablet-max
		display:inline-block
		position:relative
		top:9px
		left:1%
		width:98%
		height:300px

#vendas
	height:400px

	.background-vendas
		background:url('../dist/img/background-vendas.jpg') no-repeat 36% 60%
		position:absolute
		width:100%
		height:400px
		z-index:-2
		
		@media $mobile-max
			background:url('../dist/img/background-vendas.jpg') no-repeat 50% 74%
			position:absolute
			width:100%
			height:1075px
			z-index:-1
			
		@media $tablet-max
			background:url('../dist/img/background-vendas.jpg') no-repeat 50% 77%
			position:absolute
			width:100%
			height:1260px
			z-index:-1


	.vendas
		margin-top:50px
		position:relative
		left:3px
		
		@media $mobile-max
			margin-top:20px
			position:relative
			margin-bottom:0px
			left:3px
			
		@media $tablet-max
			margin-top:380px
			position:relative
			left:3px
					
		h4
			width:700px
			
			@media $mobile-max
				width:100%
				
			@media $tablet-max
				width:100%
			
		.txt-vendas
			width:650px
			
			@media $mobile-max
				width:100%
				
			@media $tablet-max
				width:100%

	.items-vendas
		position:relative
		left:9%
		top:70px
		
		@media $mobile-max
			text-align:center
			left:0%
			top:0px
			
		@media $tablet-max
			text-align:center
			left:0%
			top:0px

		.number
			font-family:$gt
			font-weight:700
			font-size:30px
			color:$blue
			text-align:center		
		
		.img-vendas
			position:relative
			top:20px
			left:20%
			
			@media $mobile-max
				left:3%
				
			@media $tablet-max
				left:3%
				
	@media $mobile-max
		height:800px
		margin-bottom:80px
		
	@media $tablet-max
		height:1060px
		margin-bottom:50px

.img-items
	position:relative
	left:20%
	
	@media $mobile-max
		left:3%
		margin:auto
		
		
	@media $tablet-max
		left:1%
		margin:auto
	
.btn-mb
	display:none
	
	@media $mobile-max
		display:inline-block
		font-size:15px
		padding:5px 28px
		
	@media $tablet-max
		display:inline-block
		font-size:15px
		padding:5px 28px


select 
	font-weight 300

	option 
		font-weight: 300
