html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  overflow-x: hidden;
  font-family: $u;
}
body,
html {
  font-size: 10px;
}
body.no-scroll,
html.no-scroll {
  overflow: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
*:active,
*:focus {
  outline: 0;
}
b,
strong {
  font-weight: 700;
}
a {
  text-decoration: none;
  color: inherit;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}
img {
  max-width: 100%;
}
@media screen and (max-width: 1025px) {
  img {
    object-fit: cover;
  }
}
button {
  cursor: pointer;
}
input,
select,
textarea {
  padding: 5px 10px;
  font-family: inherit;
  resize: none;
}
pre {
  font-size: 16px;
  display: block;
  text-align: left;
  background: #fafafa;
  border: 2px solid #e1e1e1;
  border-radius: 5px;
  padding: 20px;
  line-height: 28px;
  font-family: monospace;
  overflow: scroll;
}
.oldiewarning {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #32363b;
  overflow: hidden;
  z-index: 1000;
  display: none;
}
.oldiewarning p,
.oldiewarning a {
  width: 100%;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 500px;
  color: #fff;
  font-size: 40px;
  font-family: Tahoma, Geneva, sans-serif;
}
.lt-ie9 {
  overflow: hidden;
}
.lt-ie9 .oldiewarning {
  display: block;
}
.center-content {
  width: 100%;
  margin: auto;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 998px) and (max-width: 1279px) {
  .center-content {
    padding: 0 10px;
  }
}
.center-content:not(.not-relative) {
  position: relative;
}
@media screen and (max-width: 1025px) {
  .center-content:not(.nopadding) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1025px) {
  .center-content:not(.inner) {
    width: 1140px;
  }
}
@media screen and (min-width: 998px) and (max-width: 1279px) {
  .center-content:not(.inner) {
    width: 1000px;
  }
}
.full {
  display: block;
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .flexed {
    display: flex;
  }
}
@media screen and (min-width: 1025px) {
  .flexed.row {
    flex-flow: row wrap;
  }
}
@media screen and (min-width: 1025px) {
  .flexed.spaced {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1025px) {
  .flexed.centered {
    align-items: center;
  }
}
@media screen and (min-width: 1025px) {
  .flexed.start {
    align-items: flex-start;
  }
}
.dib,
.mobile-whatsapp-btn,
.mobile-cta-btn {
  display: inline-block;
  vertical-align: top;
}
.cleared:after {
  content: '';
  display: block;
  clear: both;
}
.transitioned-basic {
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 1025px) {
  .hideonmobile {
    display: none;
  }
}
@media screen and (max-width: 1025px) {
  .becomes-carousel-on-mobile .slick-slide {
    margin: 0 40px;
  }
  .becomes-carousel-on-mobile .slick-list {
    margin: 0 -40px;
  }
}
.full {
  display: block;
  width: 100%;
  clear: both;
}
@media screen and (min-width: 1025px) {
  .half,
  .half-child {
    width: 47.5%;
  }
}
.half-child + .half-child:not(:nth-child(2n+3)) {
  margin-left: 5%;
}
@media screen and (min-width: 1025px) {
  .one-third,
  .one-third-child {
    width: 31.66%;
  }
}
.one-third-child + .one-third-child:not(:nth-of-type(3n+4)) {
  margin-left: 2.5%;
}
@media screen and (min-width: 1025px) {
  .one-fourth,
  .one-fourth-child {
    width: 23.75%;
  }
}
@media screen and (min-width: 1025px) {
  .one-fourth-child + .one-fourth-child:not(:nth-of-type(4n+5)) {
    margin-left: 1.666%;
  }
}
@media screen and (min-width: 1025px) {
  .one-fifth,
  .one-fifth-child {
    width: 18%;
  }
}
@media screen and (min-width: 1025px) {
  .one-fifth-child + .one-fifth-child:not(:nth-of-type(5n+6)) {
    margin-left: 2.5%;
  }
}
@media screen and (min-width: 1025px) {
  .two-thirds {
    width: 63.334%;
  }
}
@media screen and (min-width: 1025px) {
  .two-thirds:last-child {
    margin-left: 5%;
  }
}
@font-face {
  font-family: 'Gotham';
  src: url("../dist/fonts/GothamBook.ttf") format('truetype');
  src: url("../dist/fonts/GothamBook.otf") format('truetype');
  src: url("../dist/fonts/GothamBook.dfont") format('truetype');
  src: url("../dist/fonts/GothamBook.woff") format('truetype');
  font-weight: 300;
  font-style: 'normal';
  font-display: 'auto';
}
@font-face {
  font-family: 'Gotham';
  src: url("../dist/fonts/GothamBold.ttf") format('truetype');
  src: url("../dist/fonts/GothamBold.otf") format('truetype');
  src: url("../dist/fonts/GothamBold.dfont") format('truetype');
  src: url("../dist/fonts/GothamBold.woff") format('truetype');
  font-weight: 400;
  font-style: 'normal';
  font-display: 'auto';
}
@font-face {
  font-family: 'Gotham';
  src: url("../dist/fonts/GothamBold.ttf") format('truetype');
  src: url("../dist/fonts/GothamBold.otf") format('truetype');
  src: url("../dist/fonts/GothamBold.dfont") format('truetype');
  src: url("../dist/fonts/GothamBold.woff") format('truetype');
  font-weight: 700;
  font-style: 'normal';
  font-display: 'auto';
}
.t-white {
  color: #fff;
}
.t-xxs {
  font-size: 10px;
}
.t-xs {
  font-size: 12px;
}
.t-s {
  font-size: 14px;
}
.t-r {
  font-size: 16px;
}
.t-g {
  font-size: 18px;
}
.t-xg {
  font-size: 20px;
}
.t-xxg {
  font-size: 22px;
}
.t-xxxg {
  font-size: 24px;
}
.t-xxxxg {
  font-size: 28px;
}
.t-exg {
  font-size: 36px;
}
.t-exxg {
  font-size: 40px;
}
.lh-xs {
  line-height: 14px;
}
.lh-s {
  line-height: 16px;
}
.lh-r {
  line-height: 18px;
}
.lh-g {
  line-height: 20px;
}
.lh-xg {
  line-height: 22px;
}
.lh-xxg {
  line-height: 24px;
}
.hiline {
  line-height: 26px;
}
.hiline-extra {
  line-height: 44px;
}
.margin-xxxs {
  margin-bottom: 10px;
}
.margin-xxs {
  margin-bottom: 15px;
}
.margin-xs {
  margin-bottom: 25px;
}
.margin-s {
  margin-bottom: 30px;
}
.margin {
  margin-bottom: 40px;
}
.margin-g {
  margin-bottom: 55px;
}
.margin-xg {
  margin-bottom: 65px;
}
.margin-xxg {
  margin-bottom: 75px;
}
.margin-xxxg {
  margin-bottom: 85px;
}
.t-centered {
  text-align: center;
}
.limited-width {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.upper {
  text-transform: uppercase;
}
.med {
  font-weight: 500;
}
.sb {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
a.und,
.und {
  text-decoration: underline !important;
}
.ita {
  font-style: italic;
}
.variant {
  border: 0;
  background-color: transparent;
  padding: 0;
}
.bg-footer {
  background: #23448e;
  height: 50px;
}
.bg-footer:before {
  content: '';
  display: block;
  position: relative;
  background-color: rgba(145,161,198,0.4);
  height: 6px;
  top: -6px;
  width: 100%;
  left: 0;
}
@media screen and (max-width: 599px) {
  .bg-footer {
    display: inline-block;
    text-align: center;
    height: 140px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1025px) {
  .bg-footer {
    display: inline-block;
    text-align: center;
    height: 140px;
    width: 100%;
    margin-top: 20px;
  }
}
.bg-footer .txt-footer {
  font-family: 'Gotham';
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  text-align: center;
  position: relative;
  top: 15px;
}
@media screen and (max-width: 599px) {
  .bg-footer .txt-footer {
    width: 75%;
    display: inline-block;
    font-size: 16px;
  }
}
@media screen and (max-width: 1025px) {
  .bg-footer .txt-footer {
    width: 75%;
    display: inline-block;
    font-size: 16px;
  }
}
.bg-footer .txt-footer .text-desk {
  display: block;
}
@media screen and (max-width: 599px) {
  .bg-footer .txt-footer .text-desk {
    display: none;
  }
}
@media screen and (max-width: 1025px) {
  .bg-footer .txt-footer .text-desk {
    display: none;
  }
}
.bg-footer .txt-footer .text-mobile {
  display: none;
}
@media screen and (max-width: 599px) {
  .bg-footer .txt-footer .text-mobile {
    display: block;
  }
}
@media screen and (max-width: 1025px) {
  .bg-footer .txt-footer .text-mobile {
    display: block;
  }
}
.slick-dots {
  display: inline-flex;
}
.slick-dots ul {
  text-align: center;
}
.slick-dots li {
  border: 1px solid;
  background: none;
  border-radius: 20px;
  width: 10px;
  height: 10px;
  margin: 0px 10px;
}
.slick-dots button {
  display: none;
}
.slick-dots .slick-active {
  background: #000;
}
.form-box {
  display: inline-grid;
  width: 310px;
}
.form-box input,
.form-box select {
  margin: 5px 0px;
  border: 1px solid #00aff0;
  color: #000;
  border-radius: 5px;
  height: 30px;
  font-weight: 300;
}
@media screen and (max-width: 599px) {
  .form-box input {
    width: 100%;
  }
}
@media screen and (max-width: 1025px) {
  .form-box input {
    width: 100%;
  }
}
.form-box select {
  background: url("../dist/img/arrow-select.png") 95%;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  appearance: none;
}
@media screen and (max-width: 599px) {
  .form-box select {
    width: 100%;
  }
}
@media screen and (max-width: 1025px) {
  .form-box select {
    width: 100%;
  }
}
@media screen and (max-width: 599px) {
  .form-box {
    width: 100%;
    position: relative;
    bottom: 0px;
    display: none;
  }
}
@media screen and (max-width: 1025px) {
  .form-box {
    width: 100%;
    position: relative;
    bottom: 0px;
    display: none;
  }
}
.form-select {
  display: inline;
}
.green-button {
  text-transform: uppercase;
  background: #61aa1e;
  color: #fff;
  height: 40px;
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  letter-spacing: 1px;
  margin-top: 13px;
}
@media screen and (max-width: 599px) {
  .green-button {
    width: 100%;
    font-size: 13px;
  }
}
@media screen and (max-width: 1025px) {
  .green-button {
    width: 100%;
    font-size: 13px;
  }
}
.btn-parcela {
  text-transform: uppercase;
  background: #61aa1e;
  color: #fff;
  height: 40px;
  width: 230px;
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  letter-spacing: 1px;
  margin-top: 13px;
  padding: 5px 3px;
}
@media screen and (max-width: 599px) {
  .btn-parcela {
    width: 100%;
  }
}
@media screen and (max-width: 1025px) {
  .btn-parcela {
    width: 100%;
  }
}
.select-parcela {
  margin-top: 20px;
}
@media screen and (max-width: 599px) {
  .select-parcela {
    position: relative;
    left: 1%;
  }
}
.select-parcela select {
  margin: 5px 2px 5px 0;
  border: 1px solid #00aff0;
  border-radius: 5px;
  height: 42px;
  width: 56%;
  font-weight: 300;
  padding: 0px 10px;
  background: url("../dist/img/arrow-select.png") 95%;
  background-color: #fff;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  appearance: none;
}
@media screen and (max-width: 599px) {
  .select-parcela select {
    width: 100%;
    margin: 5px 0px;
  }
}
@media screen and (max-width: 1025px) {
  .select-parcela select {
    width: 100%;
    margin: 5px 0px;
  }
}
.img-pig {
  position: absolute;
  top: 290px;
  left: 75%;
  z-index: -1;
}
.opt {
  font-weight: 300;
}
.logo {
  background: url("../dist/img/logo-abile.png") no-repeat;
  width: 450px;
  height: 128px;
  position: relative;
  bottom: 15px;
}
@media screen and (max-width: 599px) {
  .logo {
    background: url("../dist/img/logo-abile-mobile.jpg") no-repeat;
    width: 320px;
    height: 95px;
    left: 0%;
  }
}
@media screen and (max-width: 1025px) {
  .logo {
    background: url("../dist/img/logo-abile-mobile.jpg") no-repeat;
    width: 320px;
    height: 95px;
    left: 0%;
  }
}
.top-items {
  margin-top: 50px;
}
.top-items .topleft {
  float: left;
  position: relative;
  right: 2%;
  z-index: 3;
}
@media screen and (max-width: 599px) {
  .top-items .topleft {
    right: 0%;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 1025px) {
  .top-items .topleft {
    right: 0%;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 599px) {
  .top-items .topleft a {
    display: inline-block;
    text-align: center;
  }
}
@media screen and (max-width: 1025px) {
  .top-items .topleft a {
    display: inline-block;
    text-align: center;
  }
}
.top-items .topright {
  float: right;
  display: flex;
  position: relative;
  top: 20px;
  z-index: 3;
  text-align: right;
}
@media screen and (min-width: 1700px) {
  .top-items .topright {
    left: 18%;
  }
}
@media screen and (max-width: 1690px) {
  .top-items .topright {
    left: auto;
    right: 0;
  }
}
.top-items .topright .item {
  position: relative;
  font-family: 'Gotham';
  text-transform: uppercase;
}
@media screen and (max-width: 599px) {
  .top-items .topright .item {
    width: 100%;
    top: 37px;
    left: 0%;
  }
}
@media screen and (max-width: 1025px) {
  .top-items .topright .item {
    width: 100%;
    top: 37px;
    left: 3%;
  }
}
.top-items .topright .item .item-desc {
  font-size: 16px;
  font-weight: 300;
  color: #000;
  text-align: right;
  margin-bottom: 5px;
}
@media screen and (max-width: 599px) {
  .top-items .topright .item .item-desc {
    text-align: center;
    font-weight: 700;
    font-size: 13px;
  }
}
@media screen and (max-width: 1025px) {
  .top-items .topright .item .item-desc {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
  }
}
.top-items .topright .item .item-number {
  font-size: 35px;
  font-weight: 700;
  color: #61aa1e;
}
@media screen and (min-width: 1279px) {
  .top-items .topright .item .item-number {
    font-size: 28px;
  }
}
@media screen and (max-width: 599px) {
  .top-items .topright .item .item-number {
    font-size: 19px;
    text-align: center;
  }
}
@media screen and (max-width: 1025px) {
  .top-items .topright .item .item-number {
    font-size: 16px;
    text-align: center;
  }
}
@media screen and (max-width: 599px) {
  .top-items .topright {
    width: 100%;
    top: 0px;
  }
}
@media screen and (max-width: 1025px) {
  .top-items .topright {
    left: 0%;
    width: 100%;
  }
}
.top-items .spacing {
  position: relative;
  bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (max-width: 599px) {
  .top-items .spacing {
    display: none;
  }
}
@media screen and (max-width: 1025px) {
  .top-items .spacing {
    display: none;
  }
}
#content {
  position: relative;
  height: 1100px;
}
@media screen and (min-width: 1279px) and (max-width: 1400px) {
  #content {
    height: 950px;
  }
}
@media screen and (max-width: 599px) {
  #content {
    height: 1600px;
  }
}
@media screen and (max-width: 1025px) {
  #content {
    height: 1600px;
  }
}
.background-content {
  background: url("../dist/img/background-content.jpg") no-repeat 50% center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: contain;
  top: 0px;
  left: 0px;
  z-index: -1;
}
@media screen and (min-width: 1700px) {
  .background-content {
    left: 91px;
  }
}
@media screen and (min-width: 1279px) and (max-width: 1400px) {
  .background-content {
    background-position-x: 67%;
    background-position-y: 1%;
    background-size: contain;
    height: 100%;
    width: 100%;
    z-index: -3;
  }
}
@media screen and (max-width: 1690px) {
  .background-content {
    background-position-x: 61%;
    background-position-y: 0%;
    background-size: contain;
  }
}
@media screen and (max-width: 599px) {
  .background-content {
    background: url("../dist/img/background-content-mobile.jpg") no-repeat 50% 95%;
    position: absolute;
    width: 103%;
    top: 500px;
  }
}
@media screen and (max-width: 1025px) {
  .background-content {
    background: url("../dist/img/background-content-mobile.jpg") no-repeat 50% 63%;
    position: absolute;
    width: 100%;
    top: 450px;
  }
}
.boxes {
  display: table-cell;
  position: relative;
  top: 200px;
}
@media screen and (max-width: 599px) {
  .boxes {
    display: inline-block;
    width: 100%;
  }
}
@media screen and (max-width: 1025px) {
  .boxes {
    display: inline-block;
    width: 100%;
  }
}
.main-left {
  float: left;
  font-family: 'Gotham';
  color: #414042;
  width: 515px;
  position: relative;
  bottom: 330px;
  left: 0%;
}
@media screen and (min-width: 1279px) and (max-width: 1400px) {
  .main-left {
    bottom: 350px;
    left: 1%;
  }
}
.main-left h1 {
  font-weight: 300;
  font-size: 36px;
}
@media screen and (min-width: 1279px) and (max-width: 1400px) {
  .main-left h1 {
    bottom: 350px;
  }
}
@media screen and (max-width: 599px) {
  .main-left h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 1025px) {
  .main-left h1 {
    font-size: 20px;
  }
}
.main-left h1 p {
  font-size: 60px;
  margin-top: 5px;
}
@media screen and (max-width: 599px) {
  .main-left h1 p {
    font-size: 40px;
    text-align: center;
  }
}
@media screen and (max-width: 1025px) {
  .main-left h1 p {
    font-size: 40px;
    text-align: center;
  }
}
.main-left h1 strong {
  font-weight: 700;
}
@media screen and (max-width: 599px) {
  .main-left {
    left: 0%;
    bottom: 120px;
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 1025px) {
  .main-left {
    left: 0%;
    bottom: 120px;
    text-align: center;
    width: 100%;
  }
}
.main-left .text-firstleft {
  font-weight: 300;
  font-size: 16px;
  position: relative;
  width: 95%;
  line-height: 20px;
  margin-top: 30px;
  text-align: justify;
}
@media screen and (max-width: 599px) {
  .main-left .text-firstleft {
    width: 90%;
    margin-left: 5%;
    text-align: center;
  }
}
@media screen and (max-width: 1025px) {
  .main-left .text-firstleft {
    width: 90%;
    margin-left: 5%;
  }
}
.dark-blue {
  font-weight: 700;
  color: #23448e;
}
.box-proposta {
  position: relative;
  height: 520px;
  width: 360px;
  background: #fff;
  bottom: 99px;
  left: 50%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 0px 20px rgba(255,255,255,0.4);
  -moz-box-shadow: 0 0 0px 20px rgba(255,255,255,0.4);
  box-shadow: 0 0 0px 20px rgba(255,255,255,0.4);
}
@media screen and (min-width: 1700px) {
  .box-proposta {
    left: 95%;
    bottom: 143px;
  }
}
@media screen and (min-width: 1279px) and (max-width: 1400px) {
  .box-proposta {
    bottom: 160px;
  }
}
@media screen and (max-width: 599px) {
  .box-proposta {
    width: 90%;
    height: 280px;
    bottom: 0px;
    top: 0px;
    left: 1%;
    -webkit-box-shadow: 9px 11px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 11px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 9px 11px 16px 0px rgba(0,0,0,0.75);
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1025px) {
  .box-proposta {
    width: 72%;
    height: 280px;
    bottom: 0px;
    top: 280px;
    left: 0%;
    display: inline-block;
    -webkit-box-shadow: 9px 11px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 11px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 9px 11px 16px 0px rgba(0,0,0,0.75);
    margin-bottom: 30px;
  }
}
.main-right {
  float: right;
  font-family: 'Gotham';
  color: #414042;
}
.main-right .title-box {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 22px;
}
@media screen and (max-width: 599px) {
  .main-right .title-box {
    font-size: 20px;
  }
}
@media screen and (max-width: 1025px) {
  .main-right .title-box {
    font-size: 20px;
  }
}
@media screen and (max-width: 599px) {
  .main-right {
    display: inline-block;
    text-align: center;
  }
}
@media screen and (max-width: 1025px) {
  .main-right {
    display: inline-block;
    text-align: center;
    float: none;
    width: 100%;
  }
}
.main-right .blue-titlebox {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 42px;
  color: #23448e;
}
.main-right .desc-box {
  font-weight: 300;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 20px;
}
.main-right .items-boxes {
  position: relative;
  left: 30px;
  width: 89%;
  top: 40px;
}
@media screen and (max-width: 599px) {
  .main-right .items-boxes {
    display: inline-block;
    text-align: center;
    left: 0px;
  }
}
@media screen and (max-width: 1025px) {
  .main-right .items-boxes {
    display: inline-block;
    text-align: center;
    left: 0px;
  }
}
@media screen and (max-width: 599px) {
  .items-porto {
    position: relative;
    top: 700px;
    height: 100px;
  }
}
@media screen and (max-width: 1025px) {
  .items-porto {
    position: relative;
    top: 700px;
    height: 100px;
  }
}
.text-porto {
  font-family: 'Gotham';
  font-weight: 300;
  font-size: 18px;
  position: relative;
  width: 64%;
  top: 280px;
  word-spacing: 5px;
  line-height: 29px;
}
@media screen and (min-width: 1279px) and (max-width: 1400px) {
  .text-porto {
    top: 150px;
  }
}
@media screen and (max-width: 599px) {
  .text-porto {
    top: 250px;
    width: 69%;
    left: 17%;
    word-spacing: 0px;
    line-height: 25px;
    text-align: center;
  }
}
@media screen and (max-width: 1025px) {
  .text-porto {
    position: relative;
    width: 61%;
    top: 480px;
    text-align: center;
    display: inline-block;
    left: 18%;
    margin-bottom: 25px;
  }
}
.redutor {
  font-weight: 700;
  background: #00aff0;
  padding: 2px 2px;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 21px;
}
@media screen and (min-width: 1279px) and (max-width: 1400px) {
  .redutor {
    top: 80px;
  }
}
@media screen and (max-width: 599px) {
  .redutor {
    width: 100%;
    right: 0%;
    text-align: center;
    top: 790px;
    font-size: 23px;
    line-height: 29px;
  }
}
@media screen and (max-width: 1025px) {
  .redutor {
    width: 100%;
    right: 0%;
    text-align: center;
    top: 850px;
  }
}
.mini-items {
  position: relative;
  top: 40px;
  left: 40%;
  width: 65%;
}
@media screen and (min-width: 1279px) and (max-width: 1400px) {
  .mini-items {
    top: -80px;
  }
}
@media screen and (max-width: 599px) {
  .mini-items {
    position: relative;
    top: 250px;
    left: 5%;
    width: 90%;
    text-align: center;
  }
}
@media screen and (max-width: 1025px) {
  .mini-items {
    position: relative;
    top: 440px;
    left: 5%;
    width: 90%;
    text-align: center;
  }
}
.align {
  position: relative;
  top: 14px;
}
.box-mini-item {
  display: inline-block;
  margin-right: 8px;
  height: 230px;
  width: 235px;
}
.box-mini-item img {
  position: relative;
  margin-bottom: 23px;
  top: 29px;
  left: 15%;
}
@media screen and (max-width: 599px) {
  .box-mini-item img {
    text-align: center;
    margin: auto;
    left: 3%;
  }
}
@media screen and (max-width: 1025px) {
  .box-mini-item img {
    text-align: center;
    margin: auto;
    left: 1%;
  }
}
@media screen and (max-width: 599px) {
  .box-mini-item {
    height: 300px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 1025px) {
  .box-mini-item {
    height: 300px;
    margin-right: 0px;
  }
}
.textbox-left {
  float: left;
  font-family: 'Gotham';
  color: #414042;
  width: 92%;
  top: 50px;
  position: relative;
  left: 10px;
  z-index: 4;
}
.textbox-left h2,
.textbox-left h4 {
  font-weight: 300;
  font-size: 36px;
}
@media screen and (max-width: 599px) {
  .textbox-left h2,
  .textbox-left h4 {
    font-size: 20px;
  }
}
@media screen and (max-width: 1025px) {
  .textbox-left h2,
  .textbox-left h4 {
    font-size: 20px;
  }
}
.textbox-left h2 p,
.textbox-left h4 p {
  font-size: 60px;
  margin-top: 5px;
}
@media screen and (max-width: 599px) {
  .textbox-left h2 p,
  .textbox-left h4 p {
    font-size: 40px;
  }
}
@media screen and (max-width: 1025px) {
  .textbox-left h2 p,
  .textbox-left h4 p {
    font-size: 40px;
  }
}
.textbox-left h2 strong,
.textbox-left h4 strong {
  font-weight: 700;
}
@media screen and (max-width: 599px) {
  .textbox-left {
    width: 95%;
    left: 0px;
    top: 0px;
    text-align: center;
    margin-left: 3%;
  }
}
@media screen and (max-width: 1025px) {
  .textbox-left {
    width: 95%;
    left: 0px;
    top: 0px;
    text-align: center;
    margin-left: 3%;
    margin-top: 20px;
    margin-bottom: 80px;
  }
}
.textbox-left .title-text-left {
  font-weight: 700;
  font-size: 24px;
  color: #23448e;
  margin-top: 20px;
  text-transform: uppercase;
}
.textbox-left .text-left {
  font-weight: 300;
  font-size: 16px;
  position: relative;
  width: 100%;
  line-height: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: justify;
}
@media screen and (max-width: 599px) {
  .textbox-left .text-left {
    font-size: 14px;
    text-align: center;
  }
}
@media screen and (max-width: 1025px) {
  .textbox-left .text-left {
    font-size: 14px;
  }
}
#imoveis {
  position: relative;
  bottom: 50px;
  height: 650px;
}
@media screen and (max-width: 599px) {
  #imoveis {
    height: 800px;
    position: relative;
    bottom: 200px;
  }
}
@media screen and (max-width: 1025px) {
  #imoveis {
    height: 1020px;
    position: relative;
    bottom: 100px;
  }
}
.background-imoveis {
  background: url("../dist/img/background-imoveis.jpg") no-repeat 85% 0%;
  position: absolute;
  height: 900px;
  width: 100%;
  top: 12px;
  z-index: -3;
  background-size: contain;
}
@media screen and (max-width: 599px) {
  .background-imoveis {
    background: url("../dist/img/background-imoveis-mobile.jpg") no-repeat 50% 8%;
    top: 400px;
  }
}
@media screen and (max-width: 1025px) {
  .background-imoveis {
    background: url("../dist/img/background-imoveis-mobile.jpg") no-repeat 50%;
    top: 200px;
  }
}
.blue-imovel {
  padding: 5px 1%;
}
@media screen and (max-width: 599px) {
  .blue-imovel {
    display: none;
  }
}
.items-imoveis {
  position: relative;
  display: inline-block;
  top: 100px;
  width: 100%;
  left: 0%;
}
@media screen and (max-width: 599px) {
  .items-imoveis {
    width: 90%;
    top: 140px;
    left: 5%;
    display: inline-block;
    text-align: center;
  }
}
@media screen and (max-width: 1025px) {
  .items-imoveis {
    width: 100%;
    top: 300px;
    left: 0%;
    display: inline-block;
    text-align: center;
  }
}
.item-desc-col {
  font-family: 'Gotham';
  font-weight: 300;
  font-size: 20px;
  color: #414042;
  text-align: center;
  word-break: break-word;
}
@media screen and (max-width: 599px) {
  .item-desc-col {
    font-size: 16px;
    position: relative;
    bottom: 10px;
    right: 3%;
  }
}
@media screen and (max-width: 1025px) {
  .item-desc-col {
    font-size: 16px;
    position: relative;
    bottom: 10px;
  }
}
.item-desc-col strong {
  font-size: 17px;
}
@media screen and (max-width: 599px) {
  .txtslide-proposta {
    position: relative;
    top: 5px;
  }
}
@media screen and (max-width: 1025px) {
  .txtslide-proposta {
    position: relative;
    top: 5px;
  }
}
#financas {
  position: relative;
  top: 100px;
  height: 550px;
  z-index: 3;
}
@media screen and (max-width: 599px) {
  #financas {
    height: 700px;
  }
}
@media screen and (max-width: 1025px) {
  #financas {
    height: 750px;
  }
}
#financas .background-fin {
  background: url("../dist/img/background-fin.jpg") no-repeat 67% 0%;
  position: absolute;
  height: 550px;
  width: 100%;
  z-index: -3;
}
@media screen and (max-width: 599px) {
  #financas .background-fin {
    height: 700px;
    background-position-y: 95%;
  }
}
@media screen and (max-width: 1025px) {
  #financas .background-fin {
    height: 700px;
    background-position-y: 20%;
  }
}
#financas .title-fin {
  position: relative;
  top: 90px;
  text-align: center;
}
@media screen and (max-width: 599px) {
  #financas .title-fin {
    top: 130px;
  }
}
#financas .title-fin h3 {
  font-family: 'Gotham';
  font-weight: 300;
  font-size: 36px;
  color: #414042;
  margin-bottom: 5px;
  position: relative;
  left: 2%;
}
@media screen and (max-width: 599px) {
  #financas .title-fin h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 1025px) {
  #financas .title-fin h3 {
    font-size: 20px;
  }
}
#financas .title-fin strong {
  color: #23448e;
  text-transform: uppercase;
  font-size: 60px;
  margin-top: 5px;
}
@media screen and (max-width: 599px) {
  #financas .title-fin strong {
    font-size: 33px;
  }
}
@media screen and (max-width: 1025px) {
  #financas .title-fin strong {
    font-size: 33px;
  }
}
#financas .title-fin p {
  font-weight: 300;
  color: #414042;
}
@media screen and (max-width: 599px) {
  #financas .title-fin p {
    font-size: 32px;
  }
}
@media screen and (max-width: 1025px) {
  #financas .title-fin p {
    font-size: 32px;
  }
}
#financas .title-fin .table {
  position: relative;
  left: 5%;
  top: 48px;
}
@media screen and (max-width: 599px) {
  #financas .title-fin .table {
    left: 12%;
    top: 20px;
    width: 80%;
  }
}
@media screen and (max-width: 1025px) {
  #financas .title-fin .table {
    left: 35%;
    top: 20px;
    width: 31%;
  }
}
@media screen and (max-width: 599px) {
  #financas {
    top: 50px;
  }
}
@media screen and (max-width: 1025px) {
  #financas {
    top: 50px;
  }
}
#automoveis {
  position: relative;
  top: 120px;
  height: 800px;
}
#automoveis .background-auto {
  position: absolute;
  background: url("../dist/img/background-auto.png") no-repeat 100% 0%;
  height: 800px;
  width: 100%;
  bottom: 58px;
  z-index: 3;
}
@media screen and (max-width: 599px) {
  #automoveis .background-auto {
    background: url("../dist/img/background-auto-mobile.png") no-repeat 50% 95%;
    top: 425px;
    bottom: 10px;
    height: 400px;
    background-size: cover;
    width: 100%;
  }
}
@media screen and (max-width: 1025px) {
  #automoveis .background-auto {
    background: url("../dist/img/background-auto-mobile.png") no-repeat 50% 0%;
    top: 180px;
    bottom: 10px;
    height: 100%;
    background-size: cover;
    width: 100%;
  }
}
#automoveis .items-auto {
  position: relative;
  display: inline-block;
  top: 100px;
  width: 100%;
  left: 0%;
  z-index: 4;
}
@media screen and (max-width: 599px) {
  #automoveis .items-auto {
    width: 90%;
    top: 32px;
    left: 5%;
    display: inline-block;
    text-align: center;
  }
}
@media screen and (max-width: 1025px) {
  #automoveis .items-auto {
    width: 90%;
    top: 350px;
    left: 5%;
    display: inline-block;
    text-align: center;
  }
}
@media screen and (max-width: 599px) {
  #automoveis {
    margin-top: 85px;
    height: 900px;
  }
}
@media screen and (max-width: 1025px) {
  #automoveis {
    top: 0px;
    height: 1000px;
  }
}
#pesados {
  position: relative;
  height: 1100px;
  top: 138px;
}
@media screen and (max-width: 599px) {
  #pesados {
    height: 1060px;
    top: 50px;
  }
}
@media screen and (max-width: 1025px) {
  #pesados {
    height: 1400px;
    top: 0px;
  }
}
#pesados .background-pesados {
  position: absolute;
  background: url("../dist/img/background-pesado.jpg") no-repeat 50% 0%;
  height: 1300px;
  bottom: 100px;
  width: 100%;
  z-index: -1;
  right: 8%;
  background-size: contain;
}
@media screen and (min-width: 1279px) and (max-width: 1400px) {
  #pesados .background-pesados {
    left: 0;
  }
}
@media screen and (min-width: 1700px) {
  #pesados .background-pesados {
    bottom: 190px;
  }
}
@media screen and (min-width: 1279px) and (max-width: 1400px) {
  #pesados .background-pesados {
    bottom: -20px;
    width: 85%;
  }
}
@media screen and (max-width: 599px) {
  #pesados .background-pesados {
    background: url("../dist/img/background-pesado-mobile.png") no-repeat 45% 100%;
    height: 500px;
    background-size: contain;
    top: 350px;
    left: 0%;
    width: 100%;
  }
}
@media screen and (max-width: 1025px) {
  #pesados .background-pesados {
    background: url("../dist/img/background-pesado-mobile.png") no-repeat 50%;
    height: 100%;
    background-size: cover;
    bottom: 480px;
  }
}
#pesados .textbox-right {
  font-family: 'Gotham';
  color: #414042;
  width: 650px;
  top: 150px;
  position: relative;
  left: 95%;
}
@media screen and (min-width: 1700px) {
  #pesados .textbox-right {
    left: 100%;
  }
}
#pesados .textbox-right h4 {
  font-weight: 300;
  font-size: 36px;
}
@media screen and (max-width: 599px) {
  #pesados .textbox-right h4 {
    font-size: 20px;
  }
}
@media screen and (max-width: 1025px) {
  #pesados .textbox-right h4 {
    font-size: 20px;
  }
}
#pesados .textbox-right h4 p {
  font-size: 60px;
  margin-top: 5px;
}
@media screen and (max-width: 599px) {
  #pesados .textbox-right h4 p {
    font-size: 40px;
  }
}
@media screen and (max-width: 1025px) {
  #pesados .textbox-right h4 p {
    font-size: 40px;
  }
}
#pesados .textbox-right h4 strong {
  font-weight: 700;
}
#pesados .textbox-right .text-right {
  font-weight: 300;
  font-size: 16px;
  position: relative;
  width: 91%;
  line-height: 20px;
  margin-top: 30px;
  text-align: justify;
}
@media screen and (max-width: 599px) {
  #pesados .textbox-right .text-right {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }
}
@media screen and (max-width: 1025px) {
  #pesados .textbox-right .text-right {
    width: 100%;
  }
}
@media screen and (max-width: 599px) {
  #pesados .textbox-right {
    width: 95%;
    left: 0px;
    top: 0px;
    text-align: center;
    margin-left: 3%;
  }
}
@media screen and (max-width: 1025px) {
  #pesados .textbox-right {
    width: 95%;
    left: 0px;
    top: 750px;
    text-align: center;
    margin-left: 3%;
  }
}
.items-pesados {
  position: relative;
  top: 250px;
  left: 0%;
}
@media screen and (max-width: 599px) {
  .items-pesados {
    top: 240px;
    width: 94%;
    display: inline-block;
    text-align: center;
    left: 2%;
  }
}
@media screen and (max-width: 1025px) {
  .items-pesados {
    top: 800px;
    width: 94%;
    display: inline-block;
    text-align: center;
  }
}
#sonhos {
  height: 350px;
  margin-top: 0px;
}
@media screen and (max-width: 599px) {
  #sonhos {
    margin-top: 90px;
    height: 290px;
  }
}
@media screen and (max-width: 1025px) {
  #sonhos {
    margin-top: 90px;
    height: 460px;
  }
}
#sonhos .background-sonhos {
  background: url("../dist/img/background-sonhos.jpg") no-repeat 0% 90%;
  position: absolute;
  width: 100%;
  height: 345px;
  border-top: 14px solid #e1e1e2;
}
@media screen and (min-width: 1279px) {
  #sonhos .background-sonhos {
    width: 105%;
  }
}
@media screen and (max-width: 599px) {
  #sonhos .background-sonhos {
    background: url("../dist/img/background-sonhos-mobile.jpg") no-repeat;
    position: absolute;
    width: 100%;
    height: 600px;
    border-top: 14px solid #e1e1e2;
  }
}
@media screen and (max-width: 1025px) {
  #sonhos .background-sonhos {
    background: url("../dist/img/background-sonhos.jpg") no-repeat;
    position: absolute;
    width: 100%;
    height: 600px;
    border-top: 14px solid #e1e1e2;
  }
}
#sonhos .dark-title {
  font-family: 'Gotham';
  color: #414042;
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
}
@media screen and (max-width: 599px) {
  #sonhos .dark-title {
    font-size: 40px;
    text-align: center;
  }
}
@media screen and (max-width: 1025px) {
  #sonhos .dark-title {
    font-size: 40px;
    text-align: center;
  }
}
#sonhos .dark-desc {
  font-family: 'Gotham';
  color: #414042;
  font-weight: 300;
  font-size: 22px;
  line-height: 20px;
  position: relative;
  top: 5px;
}
@media screen and (max-width: 599px) {
  #sonhos .dark-desc {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1025px) {
  #sonhos .dark-desc {
    margin-bottom: 10px;
  }
}
#sonhos .txt-sonhos {
  width: 75%;
  position: relative;
  left: 10px;
  top: 50px;
}
@media screen and (max-width: 599px) {
  #sonhos .txt-sonhos {
    position: relative;
    display: inline-block;
    text-align: center;
    top: 30px;
    left: 0px;
    width: 100%;
  }
}
@media screen and (max-width: 1025px) {
  #sonhos .txt-sonhos {
    position: relative;
    display: inline-block;
    text-align: center;
    top: 30px;
    left: 23%;
    width: 53%;
  }
}
#sonhos .btn-blue {
  position: relative;
  top: 60px;
  background: #23448e;
  text-transform: uppercase;
  font-family: 'Gotham';
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  -webkit-appearance: none;
  appearance: none;
  padding: 10px 50px;
  letter-spacing: 1px;
  right: 6%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
}
@media screen and (max-width: 599px) {
  #sonhos .btn-blue {
    padding: 20px;
    right: 0%;
    width: 90%;
    top: 20px;
    font-size: 18px;
  }
}
@media screen and (max-width: 1025px) {
  #sonhos .btn-blue {
    padding: 20px;
    right: 0%;
    width: 90%;
    top: 80px;
    font-size: 18px;
  }
}
#sonhos .car {
  background: url("../dist/img/carro.png") no-repeat;
  position: absolute;
  left: 60%;
  width: 680px;
  height: 320px;
  top: 50px;
}
@media screen and (max-width: 599px) {
  #sonhos .car {
    background: url("../dist/img/carro-mobile.png") no-repeat 50%;
    position: relative;
    width: 88%;
    height: 150px;
    top: 56px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    left: 0%;
  }
}
@media screen and (max-width: 1025px) {
  #sonhos .car {
    background: url("../dist/img/carro.png") no-repeat 50%;
    position: relative;
    width: 660px;
    height: 318px;
    top: 93px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    left: -90px;
  }
}
#porto-seguro {
  height: 600px;
}
@media screen and (max-width: 599px) {
  #porto-seguro {
    height: 760px;
  }
}
@media screen and (max-width: 1025px) {
  #porto-seguro {
    margin-top: 190px;
  }
}
.btn-video {
  display: none;
  background: #00aff0;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Gotham';
  text-align: center;
  padding: 15px;
  width: 77%;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 5px;
  position: relative;
  left: 10%;
  bottom: 70px;
}
@media screen and (max-width: 599px) {
  .btn-video {
    display: block;
  }
}
.video {
  display: grid;
  position: relative;
  top: 193px;
  left: 25%;
}
.video iframe {
  width: 500px;
  height: 300px;
}
@media screen and (max-width: 599px) {
  .video iframe {
    width: 100%;
    height: 350px;
  }
}
@media screen and (max-width: 1025px) {
  .video iframe {
    width: 100%;
    height: 350px;
  }
}
@media screen and (max-width: 599px) {
  .video {
    display: none;
    position: relative;
    top: 0px;
    left: 1%;
    width: 98%;
    height: 300px;
  }
}
@media screen and (max-width: 1025px) {
  .video {
    display: inline-block;
    position: relative;
    top: 9px;
    left: 1%;
    width: 98%;
    height: 300px;
  }
}
#vendas {
  height: 400px;
}
#vendas .background-vendas {
  background: url("../dist/img/background-vendas.jpg") no-repeat 36% 60%;
  position: absolute;
  width: 100%;
  height: 400px;
  z-index: -2;
}
@media screen and (max-width: 599px) {
  #vendas .background-vendas {
    background: url("../dist/img/background-vendas.jpg") no-repeat 50% 74%;
    position: absolute;
    width: 100%;
    height: 1075px;
    z-index: -1;
  }
}
@media screen and (max-width: 1025px) {
  #vendas .background-vendas {
    background: url("../dist/img/background-vendas.jpg") no-repeat 50% 77%;
    position: absolute;
    width: 100%;
    height: 1260px;
    z-index: -1;
  }
}
#vendas .vendas {
  margin-top: 50px;
  position: relative;
  left: 3px;
}
@media screen and (max-width: 599px) {
  #vendas .vendas {
    margin-top: 20px;
    position: relative;
    margin-bottom: 0px;
    left: 3px;
  }
}
@media screen and (max-width: 1025px) {
  #vendas .vendas {
    margin-top: 380px;
    position: relative;
    left: 3px;
  }
}
#vendas .vendas h4 {
  width: 700px;
}
@media screen and (max-width: 599px) {
  #vendas .vendas h4 {
    width: 100%;
  }
}
@media screen and (max-width: 1025px) {
  #vendas .vendas h4 {
    width: 100%;
  }
}
#vendas .vendas .txt-vendas {
  width: 650px;
}
@media screen and (max-width: 599px) {
  #vendas .vendas .txt-vendas {
    width: 100%;
  }
}
@media screen and (max-width: 1025px) {
  #vendas .vendas .txt-vendas {
    width: 100%;
  }
}
#vendas .items-vendas {
  position: relative;
  left: 9%;
  top: 70px;
}
@media screen and (max-width: 599px) {
  #vendas .items-vendas {
    text-align: center;
    left: 0%;
    top: 0px;
  }
}
@media screen and (max-width: 1025px) {
  #vendas .items-vendas {
    text-align: center;
    left: 0%;
    top: 0px;
  }
}
#vendas .items-vendas .number {
  font-family: 'Gotham';
  font-weight: 700;
  font-size: 30px;
  color: #23448e;
  text-align: center;
}
#vendas .items-vendas .img-vendas {
  position: relative;
  top: 20px;
  left: 20%;
}
@media screen and (max-width: 599px) {
  #vendas .items-vendas .img-vendas {
    left: 3%;
  }
}
@media screen and (max-width: 1025px) {
  #vendas .items-vendas .img-vendas {
    left: 3%;
  }
}
@media screen and (max-width: 599px) {
  #vendas {
    height: 800px;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 1025px) {
  #vendas {
    height: 1060px;
    margin-bottom: 50px;
  }
}
.img-items {
  position: relative;
  left: 20%;
}
@media screen and (max-width: 599px) {
  .img-items {
    left: 3%;
    margin: auto;
  }
}
@media screen and (max-width: 1025px) {
  .img-items {
    left: 1%;
    margin: auto;
  }
}
.btn-mb {
  display: none;
}
@media screen and (max-width: 599px) {
  .btn-mb {
    display: inline-block;
    font-size: 15px;
    padding: 5px 28px;
  }
}
@media screen and (max-width: 1025px) {
  .btn-mb {
    display: inline-block;
    font-size: 15px;
    padding: 5px 28px;
  }
}
select {
  font-weight: 300;
}
select option {
  font-weight: 300;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
@media (min-width: 320px) {
  .container {
    padding: 0 0px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0;
  }
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  .row:before,
  .row:after {
    content: "";
    display: table;
  }
  .row:after {
    clear: both;
  }
  .col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-right: -4px;
    *zoom: 1;
    *display: inline;
  }
}
.col-sm {
  float: left;
  width: 20%;
  padding: 10px;
}
.col-1 {
  float: left;
  width: 25%;
  padding: 10px;
}
@media screen and (max-width: 1025px) {
  .col-2 {
    width: 100% !important;
  }
  .col-1 {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .col-1 {
    width: 100%;
  }
  .col-sm {
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-2 {
    width: 50%;
  }
}
@media (min-width: 728px) {
  .col-3 {
    width: 33.3333%;
  }
}
body {
  min-height: 100vh;
  font-family: 'Gotham';
}
.cta-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(35,68,142,0.96);
  z-index: 10;
}
.overlay-parcela {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(35,68,142,0.96);
  z-index: 10;
}
.bottom-text {
  display: block;
  font-weight: 400;
  color: #808080;
  font-size: 14px;
  width: 100%;
  text-align: center;
  position: relative;
  top: 95%;
}
.bottom-text p {
  display: inline-block;
}
.form-wrapper-all {
  min-height: 460px;
  padding-bottom: 60px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
  display: none;
}
@media screen and (max-width: 1025px) {
  .form-wrapper-all {
    width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .form-wrapper-all {
    width: 520px;
  }
}
.form-wrapper-all .instance {
  display: block;
}
.form-wrapper-all .instance:not(.active) {
  display: none;
}
.form-wrapper-parcela {
  min-height: 400px;
  padding-bottom: 60px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
  display: none;
}
@media screen and (max-width: 1025px) {
  .form-wrapper-parcela {
    width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .form-wrapper-parcela {
    width: 520px;
  }
}
.form-wrapper-parcela .instance {
  display: block;
}
.form-wrapper-parcela .instance:not(.active) {
  display: none;
}
.form-picker button:nth-child(1) {
  border-radius: 5px 0px 0px 0px;
}
.form-picker button:nth-child(3) {
  border-radius: 0px 5px 0px 0px;
}
.form-picker p {
  display: inline-block;
  position: relative;
  bottom: 2px;
  font-weight: 400;
}
.form-pickers {
  background-color: #24448f;
  color: #fff;
  font-size: 11px;
  height: 47px;
  border: 1px solid #00aff0;
  display: inline-block;
  vertical-align: top;
  width: 33.333%;
  font-weight: 700;
  transition: all 0.35s ease-in-out;
}
.form-pickers i {
  color: $yellow;
  font-size: 16px;
  margin-right: 5px;
}
.form-pickers i.alt {
  font-weight: 300;
}
.form-pickers.active,
.form-pickers:hover {
  background-color: #16336f;
  color: #fff;
}
.pop-box .boxes {
  background: #fff;
  top: 0px;
  padding: 14px;
  font-weight: 300;
  border-radius: 10px;
  height: 50px;
  margin-bottom: 10px;
  width: 68%;
  height: 40px;
  border: 1px solid #00aff0;
}
.pop-box textarea {
  background: #fff;
  padding: 14px;
  border-radius: 5px;
  width: 68%;
  font-weight: 300;
  border: 1px solid #00aff0;
  margin-bottom: 10px;
}
.box-date {
  width: 33%;
  display: inline-block;
  border-radius: 10px;
  height: 40px;
  border: 1px solid #00aff0;
  position: relative;
  left: 0%;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  font-weight: 300;
  background: #fff;
}
.btn-msgsub {
  position: relative;
  background: #61aa1e;
  text-transform: uppercase;
  border-radius: 12px;
  border: none;
  width: 70%;
  height: 50px;
}
.btn-msgsub p {
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 20px;
}
.box-message {
  position: relative;
}
.leave-message {
  text-align: center;
}
.leave-message .fields {
  max-width: 345px;
  margin: auto;
}
@media screen and (min-width: 1025px) {
  .leave-message .fields .half {
    width: 47.5%;
    float: left;
  }
}
@media screen and (min-width: 1025px) {
  .leave-message .fields .half + .half {
    margin-left: 5%;
  }
}
.leave-message .fields .full {
  clear: both;
}
.leave-message .field-wrapper {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}
.leave-message .field-wrapper .icon {
  position: absolute;
  left: 2px;
  height: 36px;
  background-color: #fff;
  top: 1px;
  bottom: 1px;
  width: 36px;
  text-align: center;
}
.leave-message .field-wrapper .icon i {
  color: #61aa1e;
  font-size: 16px;
  line-height: 34px;
}
.field-green {
  height: 38px;
  border: 1px solid #61aa1e;
  border-radius: 4px;
  width: 100%;
  padding: 5px 10px;
}
.field-green.bigger {
  height: 75px;
}
.field-green.has-icon {
  padding-left: 40px;
}
.leave-title {
  font-size: 20px;
  color: #000;
  font-weight: 300;
  line-height: 24px;
  padding-top: 40px;
  margin-bottom: 20px;
  max-width: 360px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-bottom: 0;
}
.leave-title .variant {
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
}
.callers {
  font-size: 14px;
  font-weight: 300;
  color: #414042;
  margin-top: 18px;
}
.callers .number {
  padding: 3px 8px;
  border-radius: 50%;
  color: #fff;
  background-color: #f00;
}
.call-me-later {
  width: 300px;
  height: 42px;
  background-color: #61aa1e;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all 0.35s ease;
}
.call-me-later:hover {
  color: #61aa1e;
  border-color: #61aa1e;
  background-color: #fff;
}
.select-day {
  width: 160px;
  border-radius: 20px;
  position: relative;
  right: 2%;
  border: 3px solid #00f;
  height: 40px;
  background: url("../img/arrow-select.png") 95%;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.confirm {
  width: 78px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  background-color: #00aff0;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: 0.2s ease;
  font-family: 'Gotham';
}
.confirm:hover {
  background-color: #fff;
  color: #00aff0;
  border-color: #00aff0;
}
.close-modal {
  top: 0;
  right: 10px;
  position: absolute;
  background: transparent;
  color: #fff;
  padding: 0;
  border: 0;
  font-size: 42px;
}
.call-cta-wrapper {
  position: fixed;
  right: 15px;
  bottom: 58px;
  z-index: 10;
  text-align: center;
}
@media screen and (max-width: 1025px) {
  .call-cta-wrapper {
    display: none;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1500px) {
  .call-cta-wrapper {
    right: 15px;
    bottom: 24%;
  }
}
.cta-tooltip {
  width: 146px;
  padding: 0 14px;
  padding-top: 1px;
  padding-bottom: 19px;
  position: relative;
  background-color: #fafafa;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.35s ease-in-out;
}
@media screen and (min-width: 1025px) and (max-width: 1500px) {
  .cta-tooltip {
    width: 130px;
    padding: 8px 0px;
  }
}
.cta-tooltip:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255,255,255,0);
  border-top-color: #fafafa;
  border-width: 10px;
  margin-left: -10px;
}
.cta-tooltip.clicked {
  transform: translateY(-20px);
  opacity: 0;
}
.main-txt {
  font-family: 'Gotham';
  font-weight: 700;
  font-size: 22px;
  color: #23448e;
  margin-bottom: 20px;
}
.desc {
  font-family: 'Gotham';
  font-weight: 300;
  margin-bottom: 15px;
  position: relative;
  bottom: 5px;
  font-size: 12px;
}
.tooltip-text {
  font-size: 14px;
  color: #414042;
  margin-bottom: 11px;
}
.tooltip-text .variant {
  font-size: 20px;
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
}
.call-cta {
  margin-top: 30px;
}
@media screen and (min-width: 1025px) and (max-width: 1500px) {
  .call-cta {
    max-width: 50px;
    margin-top: 15px;
  }
}
.whats-icon {
  background-color: #01c854;
  -webkit-box-shadow: 0 0 0 7px rgba(199,239,215,0.4);
  box-shadow: 0 0 0 7px rgba(199,239,215,0.4);
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 0;
}
@media screen and (min-width: 1025px) {
  .whats-icon {
    position: absolute;
    bottom: 480px;
    left: 45px;
    height: 50px;
    width: 50px;
  }
}
@media screen and (min-width: 1025px) {
  .phone-icon {
    position: relative;
    height: 45px;
    width: 45px;
    background-color: #2ad56a;
    box-shadow: 0 0 0 7px rgba(42,213,106,0.4);
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 0;
  }
}
.phone-icon i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
}
.phone-icon:after {
  content: '1';
  padding: 3px 6px;
  font-size: 12px;
  color: #fff;
  border-radius: 50%;
  background-color: #f00;
  position: absolute;
  top: -6px;
  right: 35px;
}
.close-cta {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1.5px solid rgba(35,68,142,0.2);
  padding: 0;
  text-align: center;
  background-color: #23448e;
  color: #fff;
  top: -12.5px;
  right: -12.5px;
  font-size: 20px;
}
.dibfather,
.mobile-cta-wrapper {
  font-size: 0;
}
.socials {
  font-size: 0;
}
.socials .dib {
  font-size: 18px;
  color: #23448e;
}
.socials .dib + .dib {
  margin-left: 16px;
}
.mobile-cta-wrapper {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .mobile-cta-wrapper {
    display: none;
  }
}
.mobile-cta-wrapper:before {
  content: '';
  display: block;
  position: absolute;
  background-color: rgba(145,161,198,0.4);
  height: 6px;
  top: -6px;
  width: 100%;
  left: 0;
}
.mobile-whatsapp-btn {
  background-color: #345ab0;
  color: #fff;
  font-size: 28px;
  text-align: center;
  line-height: 40px;
  height: 40px;
  width: 17%;
  border: 0;
  line-height: 44px;
}
.mobile-cta-btn {
  background-color: #23448e;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  height: 40px;
  line-height: 44px;
  padding: 0;
  text-align: center;
  border: 0;
  font-family: 'Gotham';
  font-weight: 400;
}
.mobile-cta-btn.open-modal {
  width: 50.2%;
  position: relative;
}
.mobile-cta-btn.open-modal:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -1px;
  width: 1px;
  height: 80%;
  background-color: rgba(255,255,255,0.7);
}
.mobile-cta-btn:not(.open-modal) {
  width: 32.8%;
}
.tg {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: 'Gotham';
}
@media screen and (max-width: 599px) {
  .tg {
    display: none;
  }
}
@media screen and (max-width: 1025px) {
  .tg {
    display: none;
  }
}
.tg td {
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #fff;
}
.tg th {
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  font-weight: 500;
}
.tg .th-blue {
  background-color: #4666a4;
  color: #fff;
  border-color: inherit;
  text-align: center;
  vertical-align: middle;
}
.tg .tg-c3ow {
  border-color: inherit;
  text-align: center;
  vertical-align: middle;
}
.tg .th-darkblue {
  background-color: #23448e;
  color: #fff;
  border-color: inherit;
  text-align: center;
  vertical-align: middle;
}
.tg .val-red {
  background-color: #eff9fe;
  border-color: #fff;
  text-align: center;
  vertical-align: middle;
  color: #f00;
  font-weight: 700;
}
.tg .val-gray {
  background-color: #eff9fe;
  border-color: #fff;
  text-align: center;
  vertical-align: middle;
  color: #6d6e71;
  font-weight: 700;
}
.tg .tab-green {
  background-color: #61aa1e;
  border-color: inherit;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-size: 20px;
}
.tg .tg-hh98 {
  background-color: #eff9fe;
  border-color: #fff;
  text-align: center;
  vertical-align: middle;
}
.table-top {
  border-bottom: 15px solid rgba(0,0,0,0);
}
.table-top th:nth-child(1) {
  border: none;
}
.table-top th:nth-child(2) {
  border-radius: 10px 0px 0px 10px;
}
.table-top th:nth-child(5) {
  border-radius: 0px 10px 10px 0px;
}
.table-body {
  border-top: 2px solid rgba(0,0,0,0);
}
.first-column {
  border: 1px solid #fff;
  background: #eff9fe;
  color: #414042;
}
.infos-table {
  display: none;
}
.infos-table span {
  font-size: 16px;
}
@media screen and (max-width: 599px) {
  .infos-table {
    display: block;
  }
}
@media screen and (max-width: 1025px) {
  .infos-table {
    display: block;
  }
}
.table-mobile {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: 'Gotham';
  display: none;
  margin-bottom: 14px;
}
@media screen and (max-width: 599px) {
  .table-mobile {
    display: inline-block;
    text-align: center;
  }
}
.table-mobile .title-imovel {
  color: #fff;
  border-radius: 5px 5px 0 0;
  background: #345ab0;
  border: none;
  background: #6281b6;
}
.table-mobile .vImovel {
  color: #fff;
  background: #23448e;
  border: none;
}
.table-mobile td {
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #fff;
}
.table-mobile th {
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  font-weight: 500;
}
.table-mobile .th-blue {
  background-color: #4666a4;
  color: #fff;
  border-color: inherit;
  text-align: center;
  vertical-align: middle;
  border: none;
}
.table-mobile .tg-c3ow {
  border-color: inherit;
  text-align: center;
  vertical-align: middle;
}
.table-mobile .th-darkblue {
  background-color: #23448e;
  color: #fff;
  border-color: inherit;
  text-align: center;
  vertical-align: middle;
  border: none;
}
.table-mobile .val-red {
  background-color: #eff9fe;
  border-color: #fff;
  text-align: center;
  vertical-align: middle;
  color: #f00;
  font-weight: 700;
}
.table-mobile .val-gray {
  background-color: #eff9fe;
  border-color: #fff;
  text-align: center;
  vertical-align: middle;
  color: #6d6e71;
  font-weight: 700;
}
.table-mobile .tab-green {
  background-color: #61aa1e;
  border-color: inherit;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-size: 20px;
  border-radius: 0px 0px 5px 5px;
  border: none;
}
.table-mobile .tg-hh98 {
  background-color: #eff9fe;
  border-color: #fff;
  text-align: center;
  vertical-align: middle;
}
.table-top {
  border-bottom: 15px solid rgba(0,0,0,0);
}
.table-top th:nth-child(1) {
  border: none;
}
.table-top th:nth-child(2) {
  border-radius: 10px 0px 0px 10px;
}
.table-top th:nth-child(5) {
  border-radius: 0px 10px 10px 0px;
}
.table-body {
  border-top: 2px solid rgba(0,0,0,0);
}
.first-column {
  border: 1px solid #fff;
  background: #eff9fe;
  color: #414042;
}
section {
  height: 100vh;
}
.content-ty {
  position: relative;
  background: url("../dist/img/background-vendas.jpg") no-repeat 0% 56%;
  height: 100%;
}
.content-ty .ty-page {
  position: absolute;
  margin-top: 15%;
  width: 50%;
  left: 25%;
}
@media screen and (max-width: 599px) {
  .content-ty .ty-page {
    top: 0px;
    margin-top: 48%;
    width: 90%;
    left: 7%;
  }
}
.content-ty .ty-page .title-tks {
  margin-bottom: 20%;
  font-size: 30px;
  font-weight: 300;
}
@media screen and (max-width: 320px) {
  .content-ty .ty-page .title-tks {
    margin-top: 11%;
  }
}
@media screen and (max-width: 599px) {
  .content-ty .ty-page .title-tks {
    margin-top: 10%;
    font-size: 17px;
  }
}
.content-ty .ty-page .btn-back {
  text-align: center;
  font-family: 'Gotham';
  font-weight: 700;
  font-size: 25px;
}
.content-ty .ty-page .btn-back a {
  color: #23448e;
}
.content-ty .ty-page .btn-back a:hover {
  text-decoration: underline;
}
section {
  height: 100vh;
}
.content-ty {
  position: relative;
  background: url("../dist/img/background-vendas.jpg") no-repeat 0% 56%;
  height: 100%;
}
.content-ty .ty-page {
  position: absolute;
  margin-top: 15%;
  width: 50%;
  left: 25%;
}
@media screen and (max-width: 320px) {
  .content-ty .ty-page {
    left: 6%;
  }
}
@media screen and (max-width: 599px) {
  .content-ty .ty-page {
    top: 0px;
    margin-top: 48%;
    width: 90%;
    left: 8%;
  }
}
.content-ty .ty-page .title-tks {
  margin-bottom: 20%;
  font-size: 17px;
  font-weight: 300;
}
@media screen and (max-width: 320px) {
  .content-ty .ty-page .title-tks {
    font-size: 14px;
    margin-top: 15%;
    margin-bottom: 6%;
  }
}
@media screen and (max-width: 599px) {
  .content-ty .ty-page .title-tks {
    margin-bottom: 12%;
    margin-top: 15%;
  }
}
.content-ty .ty-page .btn-back {
  text-align: center;
  font-family: 'Gotham';
  font-weight: 700;
  font-size: 25px;
  position: relative;
  bottom: 20px;
}
.content-ty .ty-page .btn-back a {
  color: #23448e;
}
.content-ty .ty-page .btn-back a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 599px) {
  .content-ty .ty-page .btn-back {
    font-size: 16px;
    font-weight: 300;
    bottom: 40px;
  }
}
.pricing-block .item-desc-col {
  padding: 10px;
  background-color: #fafafa;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #e1e1e1;
  border-radius: 10px;
  line-height: 32px;
  font-size: 16px;
}
@media screen and (max-width: 320px) {
  .pricing-block .item-desc-col {
    line-height: 21px;
  }
}
@media screen and (max-width: 320px) {
  .pricing-block .item-desc-col strong {
    font-size: 14px;
  }
}
